@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar fontes locais */
@font-face {
  font-family: 'Clash Display';
  font-weight: 500;
  src: url('../font/ClashDisplay-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Display';
  font-weight: 500;
  src: url('../font/ClashDisplay-Variable.ttf') format('truetype');
}


html, body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 5091px;
  overflow-x: hidden; /* Para evitar o scroll horizontal indesejado */
}

body {
  font-family: 'Clash Display', sans-serif; /* Defina a fonte padrão */
  background-color: #FFFFFF; /* Cor de fundo da página */
}

@layer utilities {
  .custom-gradient-bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -84.5%, #0C0A0A 117.36%);
  }
}


@layer base {
  h1, h2, h3, nav {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
  }

  p {
    font-family: 'General Sans', sans-serif;
    color: #96A0B5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}
